@import "assets/styles/mixins";
@import "assets/styles/variables";

.todo-filter {
  @include flex(row, center, space-between);

  &__title {
    flex-grow: 1;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);
    padding: 10px 0;
  }

  &__options {
    display: flex;
    list-style: none;
    font-size: 18px;
  }

  &__option {
    cursor: pointer;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    border-left: 1.5px solid transparent;
    border-top: 1.5px solid transparent;
    border-right: 1.5px solid transparent;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);

    &_active {
      border-radius: 5px 5px 0px 0px;
      color: #000;
      border-left: 1.5px solid rgba(0, 0, 0, 0.2);
      border-top: 1.5px solid rgba(0, 0, 0, 0.2);
      border-right: 1.5px solid rgba(0, 0, 0, 0.2);
      border-bottom: none;
    }
  }
}
