@import "assets/styles/mixins";
@import "assets/styles/variables";

.todo-filter {
  margin-top: 20px;
  @include flex(row, center, space-between);

  @include media-query($breakpoint-md) {
    flex-direction: column;
  }

  @include media-query($breakpoint-sm) {
    align-items: flex-start;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);
  }

  &__title {
    flex-grow: 1;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);
    padding: 10px 0;

    @include media-query($breakpoint-md) {
      font-size: 24px;
      border: none;
    }
  }

  &__options {
    display: flex;
    list-style: none;
    font-size: 18px;

    @include media-query($breakpoint-sm) {
      flex-direction: column;
    }
  }

  &__option {
    cursor: pointer;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    border-left: 1.5px solid transparent;
    border-top: 1.5px solid transparent;
    border-right: 1.5px solid transparent;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);
    color: gray;

    @include media-query($breakpoint-md) {
      border: none;
      padding: 10px;
    }

    @include media-query($breakpoint-sm) {
      padding: 10px 0;
    }

    &_active {
      border-radius: 5px 5px 0px 0px;
      color: #000;
      border-left: 1.5px solid rgba(0, 0, 0, 0.2);
      border-top: 1.5px solid rgba(0, 0, 0, 0.2);
      border-right: 1.5px solid rgba(0, 0, 0, 0.2);
      border-bottom: none;

      @include media-query($breakpoint-md) {
        border: none;
      }
    }
  }
}
