@import "./variables.scss";

@mixin flex($direction: row, $align: center, $justify: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin clearButtonStyles() {
  border: none;
  background: none;
  cursor: pointer;
}

@mixin rounded($size) {
  border-radius: 50%;
  width: $size;
  height: $size;
}

@mixin media-query($breakpoint) {
  @if $breakpoint == $breakpoint-xs {
    @media only screen and (max-width: $breakpoint-xs) {
      @content;
    }
  }

  @if $breakpoint == $breakpoint-sm {
    @media only screen and (max-width: $breakpoint-sm) {
      @content;
    }
  }

  @if $breakpoint == $breakpoint-md {
    @media only screen and (max-width: $breakpoint-md) {
      @content;
    }
  }

  @if $breakpoint == $breakpoint-lg {
    @media only screen and (max-width: $breakpoint-lg) {
      @content;
    }
  }

  @if $breakpoint == $breakpoint-xl {
    @media only screen and (max-width: $breakpoint-xl) {
      @content;
    }
  }
}
