$black: #494d5f;
$grey: #ebecf0c3;
$white: #eee;
$red: #9b1c31;
$orange: #ffb347;
$blue: #a18aff;
$blue-darken: #8a70f0;
$purple: #ca8bfe;
$red-bright: #f46d75;
$sky: #009dff;
$sky-bright: #8cd3ff;
$shadow-sm: 1px 2px 11px -2px rgba(0, 0, 0, 0.3);

// media queries
$breakpoint-xs: 320px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
