@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,700;1,700&display=swap");
@import "./mixins.scss";

// Variables
$black: #494d5f;
$grey: #ebecf0c3;
$white: #eee;
$red: #9b1c31;
$orange: #ffb347;
$blue: #a18aff;
$blue-darken: #8a70f0;
$purple: #ca8bfe;

$red-bright: #f46d75;
$sky: #009dff;
$sky-bright: #8cd3ff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

// App start
.app {
  height: 100vh;
  display: flex;
}

.app-content {
  @include flex(column, center, flex-start);
  flex-grow: 1;
  background-color: $blue;
}

.aside {
  flex-basis: 350px;
  flex-shrink: 0;
  padding: 20px 40px;
  background-color: $white;
  @include flex(column, flex-start, space-between);

  &__logout {
    @include flex(row, center, center);
    width: 100%;

    &__btn {
      gap: 10px;
      color: $blue;
      border: none;
      font-size: 18px;

      svg {
        color: $blue;
      }

      span {
        font-weight: 800;
      }
    }
  }
}

.menu {
  &__category {
    &:not(:last-of-type) {
      margin-bottom: 40px;
    }

    &__title {
      display: flex;
      align-items: center;
      gap: 30px;
      font-size: 28px;
      svg {
        color: $blue;
      }
      a {
        color: $black;
      }
    }
  }

  &__list {
    margin-top: 10px;
    margin-left: 60px;

    a {
      text-decoration: none;
      color: #333;
    }

    &__link {
      font-size: 20px;
      text-transform: capitalize;
      margin-bottom: 10px;
      list-style: none;
      color: $black;
      display: flex;
      align-items: center;
      gap: 20px;
    }

    &__span {
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
  }
}

.logo {
  @include flex();
  width: 100%;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.add-category {
  background: none;
  border: none;
  font-size: 18px;
  @include flex();
  gap: 17px;
  cursor: pointer;
  color: gray;
  margin-left: -1px;

  &__icon {
    font-size: 25px;
  }

  span {
    font-size: 20px;
  }
}

.new-task {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 30px 0;

  &__wrapper {
    position: relative;
    max-width: 950px;
    width: 100%;

    &__span {
      position: absolute;
      display: inline-block;
      top: 50%;
      transform: translateY(-50%);
      height: 20px;
      width: 20px;
      border-radius: 50%;

      &:nth-of-type(1) {
        background-color: $red;
        left: 30px;
      }
      &:nth-of-type(2) {
        background-color: $orange;
        left: 60px;
      }
      &:nth-of-type(3) {
        background-color: $purple;
        left: 90px;
      }
    }

    &__input {
      outline: none;
      width: 100%;
      border: none;
      height: 70px;
      border-radius: 30px;
      padding-left: 140px;
      font-size: 18px;
    }
  }
}

// Todo Container

.task-wrapper {
  position: relative;
  max-width: 900px;
  width: 100%;
  &__scrollbar {
    position: absolute;
    height: 100%;
    left: -50px;
    border-radius: 15px;
    background-color: $grey;
    width: 10px;
    &__thumb {
      position: absolute;
      left: 50%;
      top: 0%;
      transform: translateX(-50%);
      background-color: $black;
      height: 60px;
      border-radius: 15px;
      width: 20px;
    }
  }
}

.tasks {
  max-height: 560px;
  width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }

  &__task {
    list-style: none;
    padding: 15px;
    background-color: $white;
    color: $black;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;

    &:not(:last-of-type) {
      margin-bottom: 30px;
    }

    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

      &__left {
        display: flex;
        align-items: center;
        flex-grow: 1;
        gap: 20px;

        .input-group {
          flex-grow: 1;
        }
      }

      &__right {
        display: flex;
        gap: 10px;
        padding-right: 10px;
      }
    }

    &__delete {
      cursor: pointer;
      color: $red;
      border: 1px solid $red;
      padding: 10px 15px;
      font-size: 18px;
      border-radius: 5px;
      transition: all 0.3s ease;
    }
  }
}

.completed-tasks {
  min-height: 600px;
  min-width: 800px;

  &__list {
    list-style: none;

    &__item {
      @include flex(row, center, space-between);
      font-size: 18px;

      &__text {
        flex-grow: 1;
        text-decoration: line-through;
      }

      &__btn {
        cursor: pointer;
        border: none;
        color: $orange;
        svg {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}

.task-navigation {
  position: fixed;
  top: 50%;
  right: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transform: translateY(-50%);

  &__btn {
    position: relative;
    @include flex();
    border: none;
    color: $blue-darken;
    background-color: $white;
    width: 60px;
    height: 60px;
    border-radius: 15px;
    font-size: 30px;
    cursor: pointer;

    &__span {
      text-align: center;
      line-height: 25px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      position: absolute;
      color: $white;
      font-size: 16px;
      top: 80%;
      right: -10%;
      display: inline-block;
      background-color: $red;
    }
  }
}

.todo-actions {
  position: relative;
  &__menu {
    list-style: none;
    position: absolute;
    background-color: $white;
    left: 150%;
    top: 0;
    padding: 10px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
}

//Auth Page
.auth {
  display: flex;
  height: 100vh;
  width: 100%;

  &__left {
    background: $blue;
    flex-basis: 50%;
    flex-shrink: 0;
    @include flex(row, center, center);

    &.register {
      background-color: transparent;
    }
  }

  &__right {
    flex-basis: 50%;
    padding: 20px;
    @include flex(column, center, center);

    &.register {
      background: $blue;
    }

    &__content {
      max-width: 450px;
      width: 100%;
    }
  }

  &__content {
    width: 60%;
  }

  &__image {
    width: 70%;

    &.register {
      transform: scale(-1, 1);
    }
  }

  &__btn {
    border: none;
    background-color: $blue;
    color: $white;
    height: 40px;
    width: 220px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-box-shadow: 5px 5px 27px 0px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: 5px 5px 27px 0px rgba(0, 0, 0, 0.64);
    box-shadow: 5px 5px 27px 0px rgba(0, 0, 0, 0.64);
  }

  &__link {
    color: $blue;
    margin-left: 5px;
    text-decoration: underline;
    font-weight: 700;
  }

  &__bottom {
    text-align: end;
  }

  &__heading {
    margin-bottom: 20px;

    h1 {
      color: $blue;
      font-size: 48px;
    }
  }

  &__form > div {
    margin-bottom: 15px;
  }
}

.overview {
  margin-top: 30px;
}

// Settings
.settings {
  background-color: #fbfafa;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 30px;

  &__heading {
    h2 {
      font-size: 32px;
      padding-bottom: 10px;
    }
  }

  &__nav {
    margin: 30px 0;
    @include flex(row, flex-start, flex-start);
    gap: 30px;
    &__item {
      list-style: none;
      cursor: pointer;
      font-size: 18px;

      &.active {
        position: relative;
        color: $blue-darken;

        &::after {
          position: absolute;
          content: "";
          width: 60%;
          height: 3px;
          background-color: $blue-darken;
          left: 0;
          top: 110%;
          border-radius: 5px;
          left: 50%;
          transform: translateX(-50%);
        }

        svg {
          color: $blue-darken;
        }
      }
    }
  }

  &__content {
    padding-top: 20px;
  }

  &__section {
    margin-bottom: 20px;

    &__heading {
      font-size: 20px;
      margin-bottom: 10px;
    }

    &__descr {
      color: #333;
      margin-bottom: 20px;
    }

    hr {
      margin-bottom: 10px;
    }

    &__form {
      margin-bottom: 15px;
      .input-group {
        margin-bottom: 15px;
      }
    }

    &__button {
      text-align: end;
    }
  }
}

.user-settings {
  display: flex;
  gap: 30px;

  &__left {
    &__picture {
      width: 300px;
      height: 300px;
      margin-bottom: 20px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__buttons {
      @include flex(column);
      gap: 10px;
    }
  }

  &__right {
    flex-grow: 1;
  }
}

.categories-settings {
  &__list {
    min-height: 150px;
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    gap: 20px;
    list-style: none;

    &__item {
      position: relative;
      border-radius: 15px;
      padding: 10px 15px;
      font-size: 18px;
      min-width: 150px;
      text-align: center;
    }
  }
}

.color-picker {
  &__label {
    @include flex(row, center, start);
    gap: 10px;
    width: 100%;
    padding: 12px 10px;
    border-radius: 4px;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.2);
  }

  &__input {
    border: none;
    width: 30px;
    height: 30px;
  }
}

// Checkbox starts
.checkbox {
  display: flex;
  cursor: pointer;

  &__input {
    visibility: hidden;
  }

  &__input:checked + &__label::after {
    transform: scale(1);
  }

  &__label {
    cursor: inherit;
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;

    &::after {
      position: absolute;
      content: "";
      width: 80%;
      height: 80%;
      background-color: $purple;
      border-radius: 50%;
      left: 10%;
      top: 10%;
      transition: 0.2s ease-out;
      transform: scale(0);
    }
  }
}
// Checkbox ends

.not-found {
  @include flex(column, center, center);

  &__image {
    max-width: 600px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    font-size: 18px;
  }

  &__link {
    font-size: 24px;
    text-decoration: underline;
  }
}

// Input starts
.input-group {
  &__label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 600;
  }

  &__input {
    width: 100%;
    border: none;
    padding: 12px 10px;
    border-bottom: 2px solid transparent;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    transition: all 0.3s ease;
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.2);

    &:focus {
      border-bottom: 2px solid $purple;
    }

    &.invalid {
      border-bottom: 2px solid $red;
    }
  }
}

.file-uploader {
  min-width: 64px;
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 7px;
  color: $white;
  background-color: $blue-darken;
  cursor: pointer;
  &__input {
    display: none;
  }
}

.modal {
  position: absolute;
  background-color: transparent;
  z-index: 999;
  height: 100vh;
  width: 100%;
  top: 0;

  &__inner {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    color: var(--black);
    -webkit-box-shadow: 10px 10px 27px 0px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: 10px 10px 27px 0px rgba(0, 0, 0, 0.64);
    box-shadow: 10px 10px 27px 0px rgba(0, 0, 0, 0.64);
    border-radius: 15px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $purple;
    padding: 0 30px;
    height: 80px;
    color: $white;
    border-radius: 15px 15px 0 0;

    h3 {
      font-size: 24px;
      font-weight: 400;
    }
  }

  &__body {
    margin: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    flex-basis: 50%;
    flex-grow: 1;
  }

  &__bottom {
    padding: 10px;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
  }

  &__submit {
    background-color: $purple;
    color: $white;
    width: 110px;
    height: 30px;
    border: none;
    border-radius: 5px;
  }

  &__close {
    cursor: pointer;
    color: $white;
    font-size: 24px;
    background: none;
    border: none;
    border-radius: 5px;
  }
}

.alert {
  position: fixed;
  bottom: 20px;
  right: 20px;
  max-width: 600px;
  width: 100%;
  padding: 15px;
  border-radius: 9px;

  &.alert--info {
    background-color: $sky-bright;
    color: $sky;
  }

  &.alert--danger {
    background-color: $red-bright;
    color: $red;
  }

  &.alert--success {
    background-color: rgba(144, 238, 144, 0.8);
    color: rgb(30, 70, 32);
  }

  &__inner {
    display: flex;
    gap: 10px;
    svg {
      font-size: 24px;
    }

    &__close {
      cursor: pointer;
      margin-left: auto;
    }
  }
}

.alert-transition-enter {
  opacity: 0;
}
.alert-transition-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.alert-transition-exit {
  opacity: 1;
}
.alert-transition-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}

// Modal ends
.modal-transition-enter {
  opacity: 0;
}
.modal-transition-enter-active {
  opacity: 1;
  transition: all 0.3s ease;
  top: 0;
}
.modal-transition-exit {
  opacity: 1;
}
.modal-transition-exit-active {
  opacity: 0;
  transition: all 0.3s ease;
  top: 55%;
}

.remove-btn {
  margin-right: 0.5rem;
}

.tasks__task.item-enter {
  transform: translateX(200px);
  opacity: 0;
}
.tasks__task.item-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms ease-in;
}
.tasks__task.item-exit {
  opacity: 1;
}
.tasks__task.item-exit-active {
  transform: translateX(-200px);
  opacity: 0;
  transition: all 500ms ease-in;
}

.btn {
  border: none;
  background: none;
  cursor: pointer;
  min-width: 64px;
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 7px;

  &.btn--primary {
    background-color: $blue-darken;
    color: $white;
  }

  &.btn--outline {
    border: 2px solid $blue-darken;
    color: $blue-darken;
    transition: all 0.3s ease;

    &:hover {
      color: $white;
      background-color: $blue-darken;
    }
  }
}
