@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,700;1,700&display=swap");
@import "./mixins.scss";
@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

body {
  background-color: #eee;
}

// App start
.app {
  height: 100vh;
  display: flex;
  margin-left: 110px;

  @include media-query($breakpoint-lg) {
    margin-top: 80px;
    margin-left: 0;
    flex-direction: column;
  }
}

.app-content {
  width: 100%;
  background-color: $white;
  overflow-y: scroll;
  padding: 30px;
}

.page-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;

  &__title {
    font-size: 32px;
  }

  &__subtitle {
    font-size: 18px;
    color: #333333b6;
    font-weight: 500;
  }
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-3 {
  margin-bottom: 30px;
}

//Auth Page
.auth {
  display: flex;
  height: 100vh;
  width: 100%;

  &__left {
    background: $blue;
    flex-basis: 50%;
    flex-shrink: 0;
    @include flex(row, center, center);
  }

  &__right {
    flex-basis: 50%;
    padding: 20px;
    @include flex(column, center, center);

    &__content {
      max-width: 450px;
      width: 100%;
    }
  }

  &__content {
    width: 60%;
  }

  &__image {
    width: 70%;
  }

  &__btn {
    @include clearButtonStyles;
    background-color: $blue;
    color: $white;
    height: 40px;
    width: 220px;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 27px 0px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: 5px 5px 27px 0px rgba(0, 0, 0, 0.64);
    box-shadow: 5px 5px 27px 0px rgba(0, 0, 0, 0.64);
  }

  &__link {
    color: $blue;
    margin-left: 5px;
    text-decoration: underline;
    font-weight: 700;
  }

  &__bottom {
    text-align: end;
  }

  &__heading {
    margin-bottom: 20px;

    h1 {
      color: $blue;
      font-size: 48px;
    }
  }

  &__form > div {
    margin-bottom: 15px;
  }
}

// Settings

.settings {
  display: flex;
  gap: 40px;

  @include media-query($breakpoint-lg) {
    flex-direction: column;
    gap: 30px;
  }

  @include media-query($breakpoint-md) {
    flex-direction: column;
    gap: 20px;
  }

  &__left {
    @include flex(column, flex-start, flex-start);
    align-items: center;
    flex-basis: 200px;
    flex: 0;

    @include media-query($breakpoint-lg) {
      flex-direction: row;
    }

    @include media-query($breakpoint-md) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__right {
    flex-grow: 1;
  }
}

.user-details {
  width: 230px;
}

.settings-section {
  &__heading {
    font-size: 20px;
    margin-bottom: 10px;
  }

  &__form {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    @include media-query($breakpoint-xl) {
      width: 100%;
    }

    @include media-query($breakpoint-md) {
      flex-direction: column;
    }

    .text-field {
      flex-basis: calc(100% / 2 - 10px);

      @include media-query($breakpoint-md) {
        flex-basis: 100%;
      }
    }
  }

  &__bottom {
    align-self: flex-end;
    margin-left: auto;
  }
}
