@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,700;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

.app {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.app__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #a18aff;
}

.menu {
  -ms-flex-preferred-size: 350px;
      flex-basis: 350px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 20px 40px;
  background-color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu__top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding-bottom: 20px;
}
.menu__top::after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #a18aff;
  width: 80%;
  top: 120%;
  left: 10%;
}
.menu__top__image {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}
.menu__top__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.menu__middle__category:not(:last-of-type) {
  margin-bottom: 40px;
}
.menu__middle__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  font-size: 28px;
}
.menu__middle__title svg {
  color: #a18aff;
}
.menu__middle__title a {
  color: #494d5f;
}
.menu__list {
  margin-top: 10px;
  margin-left: 60px;
}
.menu__list a {
  text-decoration: none;
  color: #333;
}
.menu__list__link {
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 10px;
  list-style: none;
  color: #494d5f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.menu__list__dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.menu__bottom__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  color: #a18aff;
  border: none;
  font-size: 18px;
}
.menu__bottom__btn svg {
  color: #a18aff;
}
.menu__bottom__btn span {
  font-weight: 800;
}

.add-category {
  background: none;
  border: none;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 17px;
  cursor: pointer;
  color: gray;
  margin-left: -1px;
}
.add-category__icon {
  font-size: 25px;
}
.add-category span {
  font-size: 20px;
}

.new-task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 30px 0;
}
.new-task__wrapper {
  position: relative;
  max-width: 950px;
  width: 100%;
}
.new-task__wrapper__span {
  position: absolute;
  display: inline-block;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.new-task__wrapper__span:nth-of-type(1) {
  background-color: #9b1c31;
  left: 30px;
}
.new-task__wrapper__span:nth-of-type(2) {
  background-color: #ffb347;
  left: 60px;
}
.new-task__wrapper__span:nth-of-type(3) {
  background-color: #ca8bfe;
  left: 90px;
}
.new-task__wrapper__input {
  outline: none;
  width: 100%;
  border: none;
  height: 70px;
  border-radius: 30px;
  padding-left: 140px;
  font-size: 18px;
}

.task-wrapper {
  position: relative;
  max-width: 900px;
  width: 100%;
}
.task-wrapper__scrollbar {
  position: absolute;
  height: 100%;
  left: -50px;
  border-radius: 15px;
  background-color: rgba(235, 236, 240, 0.7647058824);
  width: 10px;
}
.task-wrapper__scrollbar__thumb {
  position: absolute;
  left: 50%;
  top: 0%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #494d5f;
  height: 60px;
  border-radius: 15px;
  width: 20px;
}

.tasks {
  max-height: 560px;
  overflow-y: scroll;
  width: 100%;
}
.tasks::-webkit-scrollbar {
  display: none;
}
.tasks__task {
  list-style: none;
  padding: 15px;
  background-color: #eee;
  color: #494d5f;
  font-size: 18px;
  border-radius: 25px;
  cursor: pointer;
}
.tasks__task:not(:last-of-type) {
  margin-bottom: 20px;
}
.tasks__task__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.tasks__task__content__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  gap: 20px;
}
.tasks__task__content__left .input-group {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.tasks__task__content__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  padding-right: 10px;
}
.tasks__task__delete {
  cursor: pointer;
  color: #9b1c31;
  border: 1px solid #9b1c31;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100%;
}
.auth__left {
  background: #a18aff;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.auth__left.register {
  background-color: transparent;
}
.auth__right {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.auth__right.register {
  background: #a18aff;
}
.auth__right__content {
  max-width: 450px;
  width: 100%;
}
.auth__content {
  width: 60%;
}
.auth__image {
  width: 70%;
}
.auth__image.register {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}
.auth__btn {
  border: none;
  background-color: #a18aff;
  color: #eee;
  height: 40px;
  width: 220px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 27px 0px rgba(0, 0, 0, 0.64);
  box-shadow: 5px 5px 27px 0px rgba(0, 0, 0, 0.64);
}
.auth__link {
  color: #a18aff;
  margin-left: 5px;
  text-decoration: underline;
  font-weight: 700;
}
.auth__bottom {
  text-align: end;
}
.auth__heading {
  margin-bottom: 20px;
}
.auth__heading h1 {
  color: #a18aff;
  font-size: 48px;
}
.auth__form > div {
  margin-bottom: 15px;
}

.overview {
  margin-top: 30px;
}

.settings {
  background-color: #fbfafa;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 30px;
}
.settings__heading h2 {
  font-size: 32px;
  padding-bottom: 10px;
}
.settings__nav {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 30px;
}
.settings__nav__item {
  list-style: none;
  cursor: pointer;
  font-size: 18px;
}
.settings__nav__item.active {
  position: relative;
  color: #8a70f0;
}
.settings__nav__item.active::after {
  position: absolute;
  content: "";
  width: 60%;
  height: 3px;
  background-color: #8a70f0;
  left: 0;
  top: 110%;
  border-radius: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.settings__nav__item.active svg {
  color: #8a70f0;
}
.settings__content {
  padding-top: 20px;
}
.settings__section {
  margin-bottom: 20px;
}
.settings__section__heading {
  font-size: 20px;
  margin-bottom: 10px;
}
.settings__section__descr {
  color: #333;
  margin-bottom: 20px;
}
.settings__section hr {
  margin-bottom: 10px;
}
.settings__section__form {
  margin-bottom: 15px;
}
.settings__section__form .input-group {
  margin-bottom: 15px;
}
.settings__section__button {
  text-align: end;
}

.user-settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.user-settings__left__picture {
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
}
.user-settings__left__picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.user-settings__left__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.user-settings__right {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.categories-settings__list {
  min-height: 150px;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 20px;
  list-style: none;
}
.categories-settings__list__item {
  position: relative;
  border-radius: 15px;
  padding: 10px 15px;
  font-size: 18px;
  min-width: 150px;
  text-align: center;
}

.color-picker__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 10px;
  width: 100%;
  padding: 12px 10px;
  border-radius: 4px;
  -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.2);
}
.color-picker__input {
  border: none;
  width: 30px;
  height: 30px;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}
.checkbox__input {
  visibility: hidden;
}
.checkbox__input:checked + .checkbox__label::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.checkbox__label {
  cursor: inherit;
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}
.checkbox__label::after {
  position: absolute;
  content: "";
  width: 80%;
  height: 80%;
  background-color: #ca8bfe;
  border-radius: 50%;
  left: 10%;
  top: 10%;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.input-group__label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 600;
}
.input-group__input {
  width: 100%;
  border: none;
  padding: 12px 10px;
  border-bottom: 2px solid transparent;
  outline: none;
  border-radius: 4px;
  font-size: 16px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.2);
}
.input-group__input:focus {
  border-bottom: 2px solid #ca8bfe;
}
.input-group__input.invalid {
  border-bottom: 2px solid #9b1c31;
}

.file-uploader {
  min-width: 64px;
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 7px;
  color: #eee;
  background-color: #8a70f0;
  cursor: pointer;
}
.file-uploader__input {
  display: none;
}

.modal {
  position: absolute;
  background-color: transparent;
  z-index: 999;
  height: 100vh;
  width: 100%;
  top: 0;
}
.modal__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 600px;
  min-height: 280px;
  background-color: #eee;
  color: var(--black);
  -webkit-box-shadow: 10px 10px 27px 0px rgba(0, 0, 0, 0.64);
  box-shadow: 10px 10px 27px 0px rgba(0, 0, 0, 0.64);
  border-radius: 15px;
}
.modal__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  background-color: #ca8bfe;
  height: 60px;
  color: #eee;
  border-radius: 15px 15px 0 0;
}
.modal__header h3 {
  font-weight: 400;
}
.modal__body {
  margin: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.modal__bottom {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.modal__submit {
  background-color: #ca8bfe;
  color: #eee;
  width: 110px;
  height: 30px;
  border: none;
  border-radius: 5px;
}
.modal__close {
  background-color: #9b1c31;
  color: #eee;
  width: 110px;
  height: 30px;
  border: none;
  border-radius: 5px;
}

.alert {
  position: fixed;
  bottom: 20px;
  right: 20px;
  max-width: 600px;
  width: 100%;
  padding: 15px;
  border-radius: 9px;
}
.alert.alert--info {
  background-color: #8cd3ff;
  color: #009dff;
}
.alert.alert--danger {
  background-color: #f46d75;
  color: #9b1c31;
}
.alert.alert--success {
  background-color: rgba(144, 238, 144, 0.8);
  color: rgb(30, 70, 32);
}
.alert__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.alert__inner svg {
  font-size: 24px;
}
.alert__inner__close {
  cursor: pointer;
  margin-left: auto;
}

.alert-transition-enter {
  opacity: 0;
}

.alert-transition-enter-active {
  opacity: 1;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

.alert-transition-exit {
  opacity: 1;
}

.alert-transition-exit-active {
  opacity: 0;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

.modal-transition-enter {
  opacity: 0;
}

.modal-transition-enter-active {
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  top: 0;
}

.modal-transition-exit {
  opacity: 1;
}

.modal-transition-exit-active {
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  top: 55%;
}

.remove-btn {
  margin-right: 0.5rem;
}

.tasks__task.item-enter {
  -webkit-transform: translateX(200px);
      -ms-transform: translateX(200px);
          transform: translateX(200px);
  opacity: 0;
}

.tasks__task.item-enter-active {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}

.tasks__task.item-exit {
  opacity: 1;
}

.tasks__task.item-exit-active {
  -webkit-transform: translateX(-200px);
      -ms-transform: translateX(-200px);
          transform: translateX(-200px);
  opacity: 0;
  -webkit-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}

.btn {
  border: none;
  background: none;
  cursor: pointer;
  min-width: 64px;
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 7px;
}
.btn.btn--primary {
  background-color: #8a70f0;
  color: #eee;
}
.btn.btn--outline {
  border: 2px solid #8a70f0;
  color: #8a70f0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn.btn--outline:hover {
  color: #eee;
  background-color: #8a70f0;
}