@import "assets/styles/mixins";
@import "assets/styles/variables";

.modal {
  position: absolute;
  background-color: transparent;
  z-index: 999;
  height: 100vh;
  width: 100%;
  top: 0;

  &__inner {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    color: var(--black);
    border-radius: 10px;
    box-shadow: 999px 999px 999px 9999px rgba(0, 0, 0, 0.2);

    @include media-query($breakpoint-sm) {
      width: calc(100% - 40px);
    }

    &.fade-up-enter {
      opacity: 0;
      transform: translate(-50%, -40%);
    }

    &.fade-up-enter-active {
      opacity: 1;
      transform: translate(-50%, -50%);
      transition: all 0.3s ease;
    }

    &.fade-up-exit {
      transform: translate(-50%, -40%);
      transition: all 0.3s ease;
    }

    &.fade-up-exit-active {
      opacity: 0;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $blue;
    padding: 0 20px;
    height: 60px;
    color: $white;
    border-radius: 10px 10px 0 0;

    h3 {
      font-size: 18px;
      font-weight: 400;
    }
  }

  &__body {
    margin: 20px 20px 0 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    flex-basis: 50%;
    flex-grow: 1;
  }

  &__bottom {
    padding: 20px;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
  }

  &__submit {
    background-color: $purple;
    color: $white;
    width: 110px;
    height: 30px;
    border: none;
    border-radius: 5px;
  }

  &__close {
    cursor: pointer;
    color: $white;
    font-size: 24px;
    background: none;
    border: none;
    border-radius: 5px;
  }
}
