@import "assets/styles/mixins";
@import "assets/styles/variables";

.user-photo-editor {
  position: relative;

  &__icon {
    @include flex();
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: $blue-darken;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;

    svg {
      width: 18px;
      height: 18px;
      color: #fff;
    }
  }
}
