@import "assets/styles/mixins";
@import "assets/styles/variables";

.user-image {
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  z-index: 9;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__buttons {
    @include flex(column);
    gap: 10px;
  }

  &__backdrop {
    &:hover {
      opacity: 1;
    }
    
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.3);
    z-index: 10;
    transition: all 0.3s ease;

    .file-uploader {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
}
