@import "../../../sass/variables";

.alert {
  position: fixed;
  bottom: 20px;
  right: 20px;
  max-width: 600px;
  width: 100%;
  padding: 15px;
  border-radius: 9px;

  &.alert--info {
    background-color: $sky-bright;
    color: $sky;
  }

  &.alert--danger {
    background-color: $red-bright;
    color: $red;
  }

  &.alert--success {
    background-color: rgba(144, 238, 144, 0.8);
    color: rgb(30, 70, 32);
  }

  &__inner {
    display: flex;
    gap: 10px;
    svg {
      font-size: 24px;
    }

    &__close {
      cursor: pointer;
      margin-left: auto;
    }
  }
}

.alert-transition-enter {
  opacity: 0;
}
.alert-transition-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.alert-transition-exit {
  opacity: 1;
}
.alert-transition-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}
