@import "assets/styles/mixins";
@import "assets/styles/variables";

.category-item-add {
  @include flex(row, center, flex-start);
  margin-top: 5px;
  gap: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: #ffffffd4;
  margin-left: -1px;

  &__icon {
    font-size: 25px;
  }

  span {
    font-size: 16px;
  }
}

.menu-categories {
  &__list {
    align-items: flex-start;
    position: absolute;
    top: 90%;
    left: 70px;
    list-style: none;

    @include media-query($breakpoint-lg) {
      display: none;
      left: 60px;
      background-color: $blue;
      z-index: 999;
      padding: 20px;
      border-radius: 20px;
    }
  }

  &__link {
    color: #fffffff9;
  }

  &__item {
    @include flex(row, center, flex-start);

    font-size: 18px;
    font-weight: 400;

    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }

  &__dot {
    display: inline-block;
    width: 10px;
    height: 5px;
    margin-right: 10px;
  }
}
