@import "assets/styles/mixins";
@import "assets/styles/variables";

.category-column {
  @include flex(row, flex-end);
  position: relative;
  height: 120px;
  width: 600px;
  border-radius: 20px;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    box-shadow: $shadow-sm;
  }

  &__title {
    font-size: 20px;
    font-weight: 400;
  }

  &__text {
    display: inline-block;
    margin-top: 10px;
  }

  &__body {
    text-align: center;
    padding: 5px;
    background-color: #ffffff;
    flex-grow: 1;
    border-radius: 0px 0px 10px 10px;
  }

  &__actions {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
