@import "assets/styles/mixins";
@import "assets/styles/variables";

.category-column {
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: $shadow-sm;
  @include flex();

  &__title {
    font-size: 24px;
  }

  &__text {
    display: inline-block;
    margin-top: 10px;
  }

  &__body {
    text-align: center;
    padding: 10px;
  }

  &__actions {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
