@import "assets/styles/mixins";
@import "assets/styles/variables";

.new-category-btn {
  @include flex();
  @include rounded(70px);
  cursor: pointer;
  background-color: #3083e3;
  position: fixed;
  bottom: 50px;
  right: 50px;
  color: #fff;
  box-shadow: $shadow-sm;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.2);
  }

  @include media-query($breakpoint-md) {
    bottom: 25px;
    right: 25px;
  }
}
