@import "assets/styles/variables";
@import "assets/styles/mixins";

.task-wrapper {
  @include flex();
  position: relative;
  width: 100%;
  width: 100%;
}

.tasks {
  max-height: 520px;
  width: 100%;
  max-width: 900px;

  &::-webkit-scrollbar {
    display: none;
  }
}
