@import "assets/styles/mixins";
@import "assets/styles/variables";

.user-info {
  margin: 20px 0;
  text-align: center;

  &__name {
    font-size: 22px;
    font-weight: 600;
    color: $blue-darken;
  }

  &__registered {
    font-size: 14px;
    color: gray;
  }
}
