@import "assets/styles/variables";
@import "assets/styles/mixins";

.overview-tasks {
  padding: 20px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;

  @include media-query($breakpoint-lg) {
    flex-wrap: wrap;
  }

  .task {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-basis: calc(100% / 3 - 22.5px);
    margin: 0;
    min-height: 90px;

    @include media-query($breakpoint-lg) {
      flex-basis: 100%;
    }
  }
}
