@import "assets/styles/mixins";
@import "assets/styles/variables";

.text-field {
  border-radius: 5px;

  &__input {
    @include flex(row, center, space-between);
    position: relative;
    gap: 10px;
    background-color: #fff;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.2);
    transition: all 10ms ease-in-out;
    border-radius: inherit;

    input {
      flex-grow: 1;
      font-size: 14px;
      border: none;
      min-height: 50px;
      border-bottom: 2px solid transparent;
      padding: 15px 10px 0px 10px;
      outline: none;
      border-radius: inherit;

      &:focus ~ .text-field__label {
        transform: translate(10px, -135%);
        font-size: 12px;
      }

      &:valid ~ .text-field__label {
        transform: translate(10px, -135%);
        font-size: 12px;
      }
    }

    &.disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  }

  &__label {
    position: absolute;
    display: inline-block;
    transition: all 0.5s ease;
    font-size: 14px;
    top: 50%;
    left: 0;
    transform: translate(10px, -50%);
    pointer-events: none;
    color: gray;

    &_active {
      transform: translate(10px, -135%);
      font-size: 12px;
    }
  }

  &__adornment {
    flex-shrink: 0;
  }
}
