@import "assets/styles/mixins";
@import "assets/styles/variables";

.overview-tabs {
  &__nav {
    @include flex(row, center, space-between);
  }

  &__title {
    flex-grow: 1;
    border-bottom: 1.5px solid rgba(138, 112, 240, 0.5);
    padding: 10px;
  }

  &__list {
    display: flex;
    list-style: none;
    font-size: 18px;
  }

  &__item {
    cursor: pointer;
    border-bottom: 1.5px solid rgba(138, 112, 240, 0.5);
    padding: 10px 20px;
    border-left: 1.5px solid transparent;
    border-top: 1.5px solid transparent;
    border-right: 1.5px solid transparent;
    border-bottom: 1.5px solid rgba(138, 112, 240, 0.5);

    &.active {
      border-radius: 5px 5px 0px 0px;
      color: #000;
      border-left: 1.5px solid rgba(138, 112, 240, 0.5);
      border-top: 1.5px solid rgba(138, 112, 240, 0.5);
      border-right: 1.5px solid rgba(138, 112, 240, 0.5);
      border-bottom: none;
    }
  }

  &__content {
    min-height: 600px;
    padding: 20px;
  }
}
