@import "assets/styles/mixins";
@import "assets/styles/variables";

.auth-content {
  flex-basis: 50%;
  padding: 20px;
  @include flex(column, center, center);

  &__inner {
    max-width: 450px;
    width: 100%;
  }
}
