@import "assets/styles/mixins";
@import "assets/styles/variables";

.completed-tasks {
  min-height: 450px;
  max-width: 800px;
  width: 600px;

  @include media-query($breakpoint-lg) {
  }

  @include media-query($breakpoint-md) {
    width: 550px;
  }

  @include media-query($breakpoint-sm) {
    width: 400px;
  }

  @include media-query($breakpoint-xs) {
    width: 250px;
  }

  &__title {
    color: $white;
  }

  &__btn {
    @include clearButtonStyles;
    font-size: 24px;
    color: $white;
  }

  &__text {
    flex-grow: 1;
    text-decoration: line-through;
  }

  &__btn {
    @include clearButtonStyles;
    color: $orange;

    svg {
      width: 25px;
      height: 25px;
    }
  }

  &__item {
    @include flex(row, center, space-between);
    font-size: 18px;
  }

  &__list {
    list-style: none;
  }
}
