@import "assets/styles/mixins";
@import "assets/styles/variables";

.actions-menu {
  position: absolute;
  z-index: 15;

  &__list {
    display: flex;
    position: absolute;
    list-style: none;
    background-color: $white;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    right: -10px;
    top: -50px;
  }

  &__item {
    padding: 10px 15px;
    transition: all 0.3s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    &:hover {
      background-color: $blue;
      color: $white;
    }
  }

  &__btn {
    @include clearButtonStyles;
    font-size: 20px;
  }
}
