@import "assets/styles/mixins";

.overview-tasks {
  @include flex(row, start, space-between);
  gap: 30px;

  &__block {
    flex-basis: 50%;
  }

  &__heading {
    margin-bottom: 20px;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
  }

  .task {
    margin-bottom: 0;
    flex-basis: calc(100% / 2 - 22.5px);
    padding: 25px 15px;
  }
}
